body {
    background-color: #FFFFFF;
}

p {
    font-family: "Arial";
    font-size: 20px;
}

h2 {
text-align: center;
font-family: Arial;
}

/* Navigation  Menu */
/* Got this from Julia*/
#navigation { 
  position: fixed;
  width:100%;
/*  border-bottom:1px solid #0000ff; */
  text-align:center;
}

#titleBar { 
  position: center;
  width:100%;
  text-align:center;
}

#navigation > a {
  width:25%;
  margin-left:-6px;
  margin-top:-10px;  
  display:inline-block;  
  background-color: white;
  padding:5px 0px 5px 0px;
  font-family: Arial;
  text-decoration: none;
}

/* Centers blog in middle of page */
#container { margin:0 auto 0 auto; }

#container, #content{ 	
	position: auto;
	width:800px; }
	

/* Blog Content */
#content {
    margin:25px 0 25px 0;
    line-height:150%;
	boarder:none;
}

#list {
    margin:0px 0px 0px 0px;
    line-height:200%;
	font-family: Arial;
	border:none;
}

#list, #ul {
	margin:0px 0px 0px 275px;
	text-align: left;
	font-family: Arial;
	border:none;
}

a {
  border:none;
  text-decoration:none;
  color:Blue;
}




/*
=====
margin-left:-6px;
border-left:1px solid #0000ff;
border-right:1px solid #0000ff;
=====  
#WhiteSpace { 
  width:100%;
  height:60px;
  position: auto;
  border-bottom:1px solid #0000ff;
  text-align:center;
}
=====
*/









